<h1>Hi <%= current_user.name %></h1>

<h3>Characters:</h3>
<ul>
  <% current_user.characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>
  <% end %>
</ul>

<p>Create a New Character</p>
<%= form_tag("/characters") do %>
  <%= label_tag('character[name]', "Name") %>
  <%= text_field_tag('map[name]') %><br>
  <%= label_tag('map[address]', "Starting Address") %>
  <%= text_field_tag('map[address]')%><br><br>
<%= submit_tag "Create Map", :id => "createcharacter" %>
<% end %>

